.inlinelist{
    &--text{
        display: inline-flex;
        margin-left: 40rem;
        color: white;
        font-size: 1.5rem;
    }
    
   
}
.listcolumn{
    &--text{
        display: block;
        margin-left: 40rem;
        color: white;
        font-size: 1.5rem;
    }
    
   
}


.listholder{
    padding-right: 5rem;
    padding-top: 41px;
    padding-bottom: 22px;
    border-right: .1px solid #4f4444;

    left: 10%;
    position: absolute;
    top: 16%;
    display: flex;
    justify-content: space-between;
    width: 19%;
}